form {
  div.form-container {
    display: grid;
    gap: 1rem;
  }

  .form-group {
    display: grid;
    gap: 0.5rem;
    padding-inline: 1rem;
  }

  .form-group.inline {
    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      gap: 0.5rem;
    }
  }

  label {
    font-size: 1rem;
  }

  input {
    font: inherit;
  }

  input {
    padding: 0.25rem 0.5rem;
    border: 0;
    background-color: hsl(201, 31%, 11%);
  }

  input[type='checkbox'] {
    float: left;
  }

  input:not([type='checkbox']) {
    outline: 3px solid hsl(203, 30%, 26%);
  }

  .validation-success,
  input:not([type='checkbox']):not(:placeholder-shown):user-valid {
    outline-color: var(--clr-success);
  }

  p.validation-error {
    color: var(--clr-error);
  }

  .validation-error,
  input:not([type='checkbox']):user-invalid {
    outline-color: var(--clr-error);
  }

  .validation-warning,
  input:not([type='checkbox']):focus:invalid {
    outline-color: var(--clr-warning);
  }
}
