@use './reset.scss';

:root {
  --clr-info: rgb(33, 150, 243);
  --clr-success: rgb(76, 175, 80);
  --clr-warn: rgb(255, 235, 59);
  --clr-error: rgb(244, 67, 54);
}

.wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}
