@import './reset.css';
@import './variables.css';
@import './overlay.css';
@import './spinner.css';
@import './checkbox.css';

form {
  padding: 1rem 2rem;
  border: 2px solid var(--primary-border);
  background-color: var(--primary-background);
  border-radius: 0.5rem;
  max-width: var(--form-max-width);
  margin: auto;
}

form > .section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form > .section > label {
  display: block;
  font-weight: 600;
}

/* 
  Where a para is inside a label is followed by a required input then 
  mark it with required asterisk 
*/
label > p:has(+ :required)::after {
  content: '*';
  margin-left: 0.2rem;
  color: var(--required);
}

form > .section > label > input {
  font-weight: 400;
}

/* Full-width inputs */
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  box-sizing: border-box;
  font-size: var(--input-label-font-size);
  line-height: var(--input-label-line-height);
}

/* Set a style for all buttons */
button {
  background-color: var(--btn-primary-background-color);
  color: var(--btn-primary-color);
  padding: 14px 20px;
  border: none;
  border-radius: var(--input-border-radius);
  cursor: pointer;
  width: 100%;
  font-size: var(--input-label-font-size);
  line-height: var(--input-label-line-height);
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
