/* Adapted from https://www.w3schools.com/howto/howto_css_loader.asp */
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation: spinner-spin 2s linear infinite; /* Safari */
  animation: spinner-spin 2s linear infinite;

  width: var(--spinner-size, 120px);
  height: var(--spinner-size, 120px);

  border: 18px solid var(--spinner-border-color, #f3f3f3);
  border-top: 18px solid var(--spinner-spinner-color, #3498db);
  border-radius: 50%;
  margin: -76px 0 0 -76px;
}

@keyframes spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}