/* color palette from <https://github.com/vuejs/theme> */
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
}

/* semantic color variables for this project */
:root {
  --clr-background: var(--clr-white);
  --clr-negative: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-background: var(--clr-black);
    --clr-negative: #ff0000;
  }
}

.color-panic {
  color: #ff0000;
}
