@import './reset.css';
@import './base.css';

.html,
.body {
  background-color: var(--clr-background);
  height: 100%;
}

#app {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-gap: 0.5rem;
  height: 100%;
}
